body {
  margin: 0;
  min-width: 1511px;
  background-color: #EAEDF1;
}

.wrapper {
  margin: 77px 85px 0px 86px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  margin-bottom: 37px;
  color: white;
  height: 297px;
}

.header .layout-column {
  min-height: 50px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.header .layout-column-1 {
  float: left;
  width: 436px;
  height: 100%;
}

.header .layout-column-1 .title{
  font-family: 'Signika', sans-serif;
  color:#33495F;
  font-size:30px;
  position:relative;
  top:-67px;
  left:215px;
}

.header .layout-column-1 .comment{
  font-family: 'Lado', sans-serif;
  color:#727F8D;
  font-size:17px;
  position:relative;
  top:-39px;
  left:23px;
}

.header .layout-column-1 .avatar{
  position:relative;
  top:107px;
  left:23px;
  width:145px;
  height:146px;
  top:36px;
  left:27px;
}

.header .layout-column-1 .icons{
  width:100%;
  position:relative;
  height:80px;
  top:35px;
}

.header .layout-column-1 .item{
  width:109px;
  height:100%;
  display:inline-block;
  margin-left:-4px;
  color:#FFFFFF;
  position:relative;
  font-family: 'Signika', sans-serif;
  text-align:center;
}

.header .layout-column-1 .item img{
  display:inline-block;
  position:relative;
  top:18px;
  left:0px;
}

.header .layout-column-1 .item .icon-1{
  left:26px;
}

.header .layout-column-1 .item .icon-2{
  left:40px;
}

.header .layout-column-1 .item .icon-3{
  left:37px;
}

.header .layout-column-1 .item .icon-4{
  left:15px;
}

.header .layout-column-1 .item span{
  position:relative;
  display:inline-block;
  top:39px;
  left:-11px;
}

 .header .layout-column-1 .item-1{
background-color:#16C4EC;
margin-left:0px;
}

.header .layout-column-1 .item-2{
background-color:#FA5351;
}

.header .layout-column-1 .item-3{
background-color:#10CDC1;
}

.header .layout-column-1 .item-4{
background-color:#33495F;
} 

.header .layout-column-2 {
  float: right;
  width: 822px;
  height: 100%;
}

.header .layout-column-2 .about{
  width:100%;
  height:216px;
}

.header .layout-column-2 .about .item-1{
  float:left;
  width:404px;
  height:200px;
  padding-top:18px;
  padding-left:28px;
}

.header .layout-column-2 .about .item-1 h1{
  color:#33495F;
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size:38px;
}

.header .layout-column-2 .about .item-1 p{
  color:#637484;
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size:18px;
  text-align:justify;
  position:relative;
  top:-15px;
  line-height:31px;

}

.header .layout-column-2 .about .item-1 .text-blue{
  color:#36CBEE;
}

.header .layout-column-2 .about .item-2{
  float:right;
  width:273px;
  height:200px;
  border-bottom:1px solid #A1AAB5;
  margin-right:36px;
  padding-top:11px;
}

.header .layout-column-2 .about .item-2 h3{
  color:#33495F;
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size:21px;
  text-align:center;
  position: relative;
  margin:0px;
  top:97px;
  left:-3px;
}

.header .layout-column-2 .about .item-2 .red{
  color:#FA5452;
  font-family: 'Signika Negative', sans-serif;
  font-style: normal;
  font-weight: normal;
  top:114px;
  font-size:23px;
  letter-spacing: 2px;
}


.header .layout-column-2 .icons{
  width:100%;
  height:80px;
  clear:both;
}

.header .layout-column-2 .icons .icon{
  width:30px;
  height:30px;
  display:inline-block;
  margin-right:40px;
  margin-top:23px;
}

.header .layout-column-2 .icons .icon:first-child{
  margin-left:23px;
}

.features {
  margin-bottom: 10px;
  height: 1170px;
}

.features .layout-column {
  float: left;
  margin-right: 6px;
}

.features .layout-column-1 {
  width: 635px;
  height: 1098px;
}

.features .layout-column-1 .item {
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 32px;
}

.features .item h2 {
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #3C5065;
  margin-left: 25px;
  padding-top: 31px;
  font-size: 25px;
  display: inline;
  line-height: 90px;
}

.features .layout-column-1 .item .tags-2 .tag-2 {
  margin-left: 13px;
}

.features .item h3 {
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #21C4B0;
  margin-left: 24px;
  font-size: 21px;
  position: relative;
  top: -50px;
}

.features  .comment {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #C5CAD2;
  margin-left: 5px;
  font-size: 18px;
  display: inline;
  line-height: 90px;
}

.features .layout-column-1 .item .tags {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.features .layout-column-1 ul{
  position: relative;
  font-family: 'Lato', sans-serif;
  list-style-image:url('../img/marker.png');
  top:-45px;
  left:15px;
  font-size:16px;
}

.features .layout-column-1 .item-2 ul{
  top:-59px;
}

.features .layout-column-1 ul li{
  margin-bottom:10px;
}

.features .layout-column-1 .item .tags-1 {
  top: -29px;
}

.features .layout-column-1 .item .tags-2 {
  top: -45px;
  left:2px;
}

.features .layout-column-1 .item .tags-3 {
  top: -57px;
}

.features .layout-column-1 .item .tags-4 {
  top: -60px;
}

.features .layout-column-1 .item .img {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top:4px;
}

.features .layout-column-1 .item .img-mark {
  margin-left: 24px;
}

.features .layout-column-1 .item .tags-1 .img-refresh {
  margin-left: 51px;
}

.features .layout-column-1 .item .tags-2  .img-refresh {
  margin-left: 41px;
}

.features .layout-column-1 .item .tags-3 .img-refresh {
  margin-left: 51px;
}

.features .layout-column-1 .item .tags-4  .img-refresh {
  margin-left: 72px;
}

.features input {
  position: relative;
  height:37px;
  top:-2px;
  width: 217px;
  margin-left: 74px;
  color:#FFFFFF;
  text-align: center;
  border-width: 1px;
  border-radius: 4px;
  font-size: 16px;
}

.features .layout-column-1 .item .button-grey {
  background-color: #B0BBCA;
}

.features .layout-column-1 .item .tags-1 input {
  margin-left: 79px;
}

.features .layout-column-1 .item .tags-2 input {
  margin-left: 89px;
}

.features .layout-column-1 .item .tags-4 input {
  margin-left: 58px;
}

.features .layout-column-1 .item .button-blue {
  background-color: #16C4EC;
}

.features .layout-column-1 .item .tag {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  color: #C5CAD2;
  font-size: 15px;
}
/* //////////////// */
.features .layout-column-3 .item h2 {
  padding-top: 30px; 
  font-size: 22px;
}


.features .layout-column-3 .item h3 {
  color: #3BC2DB;
  font-size: 18px;
}

.features .layout-column-3 .comment {
  font-size: 16px;
  color:#748393;
}

.features .layout-column-3 .item .tags {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  top: -50px;
}


.features .layout-column-3 .item .tags-3,
.features .layout-column-3 .item .tags-4  {
  top: -72px;
}



.features .layout-column-3 .item .img {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top:4px;
}

.features .layout-column-3 .item .img-mark {
  margin-left: 19px;
}

.features .layout-column-3 .tags-1 .img-refresh,  
.features .layout-column-3 .tags-2 .img-refresh,
.features .layout-column-3 .tags-3 .img-refresh{
  margin-left: 58px;
}

.features .layout-column-3 .tags-4 .img-refresh
{
  margin-left: 40px;
}


.features .layout-column-3 .post input {
  background-color: #10CDC1;
}

.features .layout-column-3 .tags-1 input {
  margin-left: 79px;
}


.features .layout-column-3 .item .tag {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  color: #748393;
  font-size: 13px;
}

/* ///////////////////// */
.features .layout-column-1 .item-1 {
  height: 339px;
}

.features .layout-column-1 .item-2 {
  height: 323px;
}

.features .layout-column-1 .item-3 {
  height: 170px;
}

.features .layout-column-1 .item-4 {
  height: 170px;
}

.features .layout-column-2 {
  width: 72px;
  height: 1173px;
  margin-right: 0px;
}

.features .layout-column-2 .center {
  width: 6px;
  height: 1173px;
  float: left;
  margin-left: 32px;
  background-color: #DBE1E8;
}

.features .layout-column-2 .year {
  width: 100%;
  height: 34px;
  float: left;
  background-color: #DBE1E8;
  position: relative;
  top: -34px;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 22px;
  text-align: center;
  font-family: sans-serif;
  line-height: 34px;
}

.features .layout-column-2 .round {
  width: 21px;
  height: 21px;
  float: left;
  position: relative;
  border-radius: 50%;
}

.features .layout-column-2 .round-grey {
  background-color: #DBE1E8;
}

.features .layout-column-2 .round-white {
  background-color: #FFFFFF;
}

.features .layout-column-2 .round-1 {
  top: -947px;
  left: 24px
}

.features .layout-column-2 .round-2 {
  top: -744px;
  left: 3px
}

.features .layout-column-2 .round-3 {
  top: -544px;
  left: -18px
}

.features .layout-column-2 .round-4 {
  top: -344px;
  left: 24px
}

.features .layout-column-2 .round-5 {
  top: -185px;
  left: 3px
}

.features .layout-column-2 .round-6 {
  top: -229px;
  left: -18px
}

.features .layout-column-2 .round-7 {
  top: -448px;
  left: 24px
}

.features .layout-column-2 .round-8 {
  top: -727px;
  left: 3px
}

.features .layout-column-2 .round-9 {
  top: -1090px;
  left: -18px
}

.features .layout-column-3 {
  float: right;
  margin-right: 0px;
  width: 623px;
  height: 1164px;
}

.features .item {
  border-radius: 4px;
}

.features .layout-column-3 .item {
  width: 100%;
  background-color: #DBE1E8;
  margin-bottom: 32px;
}

.features .layout-column-3 .item-1 {
  height: 405px;
  border-bottom: 3px dotted #DBE1E8;
  border-radius: 0px;
  background-color: #EAEDF1;
}

.features .layout-column-3 .item-1 .post {
  width: 100%;
  height: 170px;
  background-color: #DBE1E8;
  border-radius: 4px;
}

.features .layout-column-3 .item-1 .post-1 {
  margin-bottom: 32px;
}


.features .layout-column-3 .item-2 {
  height: 127px;
}

.features .layout-column-3 .item-3 {
  height: 132px;
}

.features .layout-column-3 .item-4 {
  height: 402px;
  background-color: #FFFFFF;
}

.footer {
  min-height: 120px;
  color: white;
  text-align: center;
}

.footer span {
  color: #CED4DD;
  font-size: 90px;
  position: relative;
  top: 20px;
  font-weight: 600;
}

.footer .text {
  color: rgb(106, 116, 126);
  font-size: 18px;
  position: relative;
  top: -20px;
  font-style: italic;
  font-family: 'Signika', sans-serif;
  font-weight: 100;
  margin-left: 13px;
  margin-right: 13px;
}